body {
	padding-top: 100px;
	padding-bottom: 40px;
}

a:hover {
	text-decoration: none;
	font-weight: 600;
}

.content-heading {
  color: #444;
  font-size: 24px;
  line-height: 24px;
  padding-top: 10px;
  margin-bottom: 16px;
}

.tag {
	background-color: #700D0A;
	font-size: 14px;
	font-weight: normal;
	padding: 4px 12px;
	margin: 0 6px 20px 0;
	height: 20px;
}

.tag-list {
	line-height: 30px;
	height: 40px;
}

.tag-edit:hover {
	text-decoration: line-through;
}

.clear {
	clear: both;
}

/* ====== nav ====== */

.navbar li {
	line-height: 40px;
	font-size: 18px;
	width: 120px;
	text-align: center;
}

.navbar-highlight {
	line-height: 40px;
	padding: 10px 20px;
	margin-left: -20px;
	float: right;
	font-size: 20px;
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.navbar-highlight:hover {
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}

.sidebar {
	width: 220px;
	text-align: left;
}

/*************** validate ********************/
label.valid {
	width: 24px;
	height: 24px;
	background: url("/asset/img/valid.png") center center no-repeat;
	display: inline-block;
	text-indent: -9999px;
}

label.error {
	font-size: 13px;
	font-weight: bold;
	color: red;
	padding-left: 8px;
	margin-top: 2px;
}

/***** avatars ****/
.portrait {
	width: 180px;
}

.avatar-large {
	height: 100px;
	max-width: 100px;
	float: left;
	margin-right: 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.avatar-medium {
	height: 50px;
	max-width: 50px;
	float: left;
	margin-right: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.avatar-small {
	height: 20px;
	max-width: 20px;
	float: left;
	margin-right: 5px;
}

.activity-cover {
	float: left;
	max-width: 300px;
	height: 120px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

/* activity history */
/* search */
.history-item, .result-item {
  margin: 30px 0;
  height: 120px;
}

.item-description {
  float: left;
  margin-left: 40px;
}

.result-item hr {
	margin: 0;
}
.result-member-row {
	height: 22px;
}
.result-member-description {
	margin: 0 20px 0 10px;
}
.result-activity {
	height: 150px;
}